<style>
.btable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.btable td, .btable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.btable tr:nth-child(even){background-color: #f2f2f2;}

.btable tr:hover {background-color: #ddd;}

.btable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a8cff;
  color: white;
}
</style>
